body {
  font-family: helvetica;
}
#canvas {
  --grid-size: 16;
  height: 960px;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr); /* Creates 16 columns */
  grid-template-rows: repeat(var(--grid-size), 1fr); /* Creates 16 rows */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
