body {
  font-family: helvetica;
}
#canvas {
  height: 1000px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* Creates 16 columns */
  grid-template-rows: repeat(16, 1fr); /* Creates 16 rows */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
